%clearfix {
    &:after {
        content: ""; 
        display: block;
        clear: both;
    }
}

@mixin centered($axis: "both") {
    @if $axis == "both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @if $axis == "x" {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $axis == "y" {
        top: 50%;
        transform: translateY(-50%);
    }
    
}

@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}

@function rem($px) {
    @return $px / 16px + 0rem;
}
 
@mixin hd {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 992px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}	
@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin retina {
    @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi) {
        @content;
    }
}

@mixin ie10 {
    @media (min-width: 0\0) {
        @content;
      }
}

@mixin ie11 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        @content;
     } 
}
